{% extends 'core/base.html' %}
{% load staticfiles i18n %}
{% load core_helper %}

{% block styles %}
    {{ block.super }}
    <!-- Plugins css-->
    <link href="{% static "core/vendor/ubold/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" %}" rel="stylesheet" />
    <link href="{% static "core/vendor/ubold/assets/plugins/switchery/css/switchery.min.css" %}" rel="stylesheet" />
    <link href="{% static "core/vendor/ubold/assets/plugins/multiselect/css/multi-select.css" %}"  rel="stylesheet" type="text/css" />
    <link href="{% static "core/vendor/ubold/assets/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "core/vendor/ubold/assets/plugins/bootstrap-select/css/bootstrap-select.min.css" %}" rel="stylesheet" />
    <link href="{% static "core/vendor/ubold/assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                <a href="{% url 'core_position_index' %}" class="btn btn-primary waves-effect waves-light"><span class="m-r-5"><i class="fa fa-list"></i></span> Danh sách</a>
            </div>
            <h4 class="page-title">Chỉnh sửa Vị trí Banner</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-box">
                <div class="row">
                    <div class="col-sm-12">
                        <form action="{% url 'core_position_edit' content.id %}" method="post" class="form-horizontal">
                            {% include 'core/partials/form.html' with form=form %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "core/vendor/ubold/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js" %}"></script>
    <script src="{% static "core/vendor/ubold/assets/plugins/switchery/js/switchery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/plugins/multiselect/js/jquery.multi-select.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/plugins/jquery-quicksearch/jquery.quicksearch.js" %}"></script>
    <script src="{% static "core/vendor/ubold/assets/plugins/select2/js/select2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "core/vendor/ubold/assets/plugins/bootstrap-select/js/bootstrap-select.min.js" %}" type="text/javascript"></script>
    <script src="{% static "core/vendor/ubold/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js" %}" type="text/javascript"></script>
    <script src="{% static "core/vendor/ubold/assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js" %}" type="text/javascript"></script>
    <script src="{% static "core/vendor/ubold/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/plugins/autocomplete/jquery.mockjax.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/plugins/autocomplete/jquery.autocomplete.min.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/plugins/autocomplete/countries.js" %}"></script>
    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/pages/autocomplete.js" %}"></script>

    <script type="text/javascript" src="{% static "core/vendor/ubold/assets/pages/jquery.form-advanced.init.js" %}"></script>


    <script>
        (function($){
            $('.select2').select2();
        })(jQuery);
    </script>
{% endblock %}